{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="bannerimage">
  <form class="form-inline banner_search">
    <input class="form-control mr-sm-2 size_search" type="search" placeholder="Zoeken" aria-label="Search">
  </form>
</div>

<!--<div class="kamerstukken_zoeken">
      <img src="{% static 'images/kamerstukken_zoeken.jpg' %}" alt="Naar de homepage van Rijksoverheid.nl" id="logotweedekamer" href="{% url 'home' %}">
    </div>
  -->


<section class="section">
  <div class="container">

    <!--Intro text -->
    <div class="row top_kamervraag">
      <div class="col-sm-9">
        <h1 class="section_title">Kamervragen portaal</h1>
      </div>
    </div>
    <!-- einde -->

    <!-- Inlog formulier -->
    <div class="row">

      <div class="login_box">
        <article class="card_body">
          <div class="card_toptitle">
            <div class="flexer">
              <h3 class="card_title">Wachtwoord vergeten</h3>
            </div>
          </div>
          <div class="card_info">
            <form action="{% url 'wachtwoord_reset' %}">
              E-mailadres<br><input class="login" type="email" name="wachtwoord_vergeten"><br>
              <input class="wachtwoord_vergeten_verstuur" type="submit" value="verstuur">
            </form>
          </div>
        </article>
      </div>

     </div> 
    <!-- einde -->

  </div>
</section>
{% endblock %}